.blog-case {
    padding-inline: 170px;
}

.blog-case h1 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 35px;
    line-height: 42px;
    color: #363130;
    width: max-content;
    margin: 0;
}

.blog-case_description {
    margin-block: 28px 60px;
    font-family: 'Raleway';
}

.blog-case_review {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.blog-case_review .video-review {
    padding: 15px 60px;
    height: min-content;
    width: max-content;
    justify-self: center;
    position: relative;
    top: 18%;
    color: #319F1C;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    border: none;
    background-color: white;
    border-radius: 3px;
}

.blog-case_review .video-review::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -11px);
    width: 76px;
    height: 76px;
    background-color: white;
    border-radius: 50%;
    background-image: url('/images/play.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.blog-case_form {
    width: max-content;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 30px 40px 45px;
    width: 775px;
    font-family: 'Raleway', sans-serif;
    position: relative;
    background-color: white;
    margin-bottom: 260px;
}

.blog-case_form .big-gift {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}

.blog-case_form .small-gift {
    position: absolute;
    bottom: 0;
    left: 80px;
    transform: translate(0, 40%) rotate(45deg) scale(0.5);
}

.blog-case_form .sky {
    position: absolute;
    bottom: 0;
    transform: translate(-15%, 60%);
    z-index: -1;
}


.blog-case_form h2 {
    margin-block-end: 20px;
    color: #319F1C;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 25px;
    line-height: 30px;
}

.blog-case_form-description {
    margin-block-end: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.blog-case_form-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 12px;
    column-gap: 30px;
}

.blog-case_form-field {
    width: 333px;
    max-width: 100%;
}

.blog-case_form-select select {
    padding: 10px 34px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #319F1C;
    background-color: white;
    appearance: none;
    color: #8A8A8A;
}

.blog-case_form-select {
    max-width: 100%;
    position: relative;
    width: min-content;
}

.blog-case_form-select::after {
    content: '';
    height: 9px;
    width: 9px;
    background-color: black;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    position: absolute;
    right: 30px;
    top: 17px;
}

.blog-case_form-privacy {
    grid-column: 2;
    font-size: 12px;
    line-height: 14px;
}

.blog-case_form-privacy img {
    margin-inline-end: 10px;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
}

.underForm-right {
    position: absolute;
    right: 0;
    z-index: -1;
    top: 650px;
}

.left-tree {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 400px;
}

.article .top-right {
    right: -170px;
    top: -80px;
}

.article .bottom-left {
    position: absolute;
    left: -170px;
    bottom: -20%;
    transform: rotate(15deg);
}

@media (max-width: 768px) {
    .blog-case {
        padding-inline: 20px;
        background-color: white;
    }

    .blog-case h1 {
        width: 100%;
        word-wrap: normal;
        font-size: 24px;
        line-height: 30px;
    }

    .blog-case_review {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blog-case_form {
        margin-block-end: 20px;
        width: 100%;

    }

    .blog-case_form .big-gift {
        display: none;
    }

    .blog-case_form-fields {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .blog-case_form-fields button {
        display: block;
        padding: 10px 34px;
    }

    .blog-case_form .sky {
        display: none;
    }

    .article .top-right {
        display: none;
    }
}