* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.app {
    padding-top: 30px;
}

p {
    margin: 0;
}

button {
    cursor: pointer;
}

input::placeholder {
    color: #8A8A8A;
}
